@charset "UTF-8";

/* FONTES DO TÍTULO */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

/* CORES */

:root {
    --cor-fundo: #FAFAFA;
    --cor-texto: #1A1A1A;
    --cor-destaque: #FF69B4; /* O seu rosa */
    --cor-suave: #FFF0F5;
}

/* MUDANÇAS GERAIS */

body {
    background-color: var(--cor-fundo);
}

header, nav, section {
    width: 90%; /* Ocupa 90% da tela em dispositivos pequenos */
    max-width: 1000px; /* Não deixa ficar largo demais em monitores grandes */
    margin: 20px auto; /* O 'auto' centraliza a div na horizontal */
}

/* HEADER-TÍTULO */

.logo-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente na página */
    align-items: center; /* Centraliza verticalmente se necessário */
    padding: 20px 0;
    border: 2px solid #0000009c;
    border-radius: 10px;
    margin-bottom: 20px;
}

.logo-text {
    position: relative; /* Isso é crucial para o "Amanda" se alinhar a ele */
    display: inline-block;
}

.main-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 6rem; /* Ajuste o tamanho conforme necessário */
    font-weight: 300; /* Leve */
    color: black;
    text-transform: uppercase; /* Força maiúsculas */
    letter-spacing: 2px; /* Espaço entre as letras */
}

.sub-title {
    position: absolute; /* ISSO permite que ele fique por cima */
    font-family: 'Monsieur La Doulaise', cursive; /* A fonte cursiva */
    font-size: 4.5rem; /* Um pouco menor que o título principal */
    color: #ff69b4ab; /* O rosa (use sua cor exata aqui) */
    
    /* Posicionamento exato */
    bottom: -40px; /* Empurra para baixo para sobrepor a linha inferior */
    left: 230px; /* Alinha um pouco à direita */
    
    /* Efeito de sobreposição (z-index) */
    z-index: 2; /* Garante que fique por cima do título preto */
}

/* HEADER-MENU */

nav {
    background-color: pink;
    padding: 0.05rem;
    border-radius: 10px;
    border: 2px solid #0000009c;
    margin-bottom: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-family: 'Roboto Condensed', sans-serif;
}

/* SOBRE MIM */

section {
    border: 2px solid #0000009c;
    border-radius: 10px;
}

section h2 {
    padding: 10px;
    text-align: center;
}

section p {
    padding: 0px 40px;
}

/* HABILIDADES */

/* PROJETOS */

/* CONTATOS */